<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travis Powell | GitHub</title> 
        <link rel="stylesheet" href="/css/mainportfolio.css">
        <link rel="stylesheet" href="/css/masterportfolio.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head> 

    <body> 

        <div class="mastergrid">

            <div class="nav">

                <ul>
            
                    <li class="item"> <a href="/">Home</a></li>

                    <li class="active"><a href="/github">GitHub</a></li>
            
                    <li class="item" href="/books"> <a  href="/books">Books Read</a></li>
            
                    <li class="item"> <a href="/contact">Contact Me </a> </li>
            
                 </ul>
            
            </div>

            
    </body> 

</html>