<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travis Powell</title> 
        <link rel="stylesheet" href="/css/mainportfolio.css">
        <link rel="stylesheet" href="/css/masterportfolio.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head> 
    <body> 

        <div class="mastergrid">

            <div class="nav">

                <ul>
            
                    <li class="active"> <a href="/">Home</a> </li>
            
                    <li class="item" href="/books"> <a  href="/books">Books Read</a></li>
            
                    <li class="item"> <a href="/contact">Contact Me </a> </li>
            
                 </ul>
            
            </div>

            <div class="banner">

                <div class="parallax1">

                    <div class="caption">

                        <span class="border">Travis Powell</span>
            
                    </div>

                </div>

            </div>

            <div class="skills">
            
                <div class="parallax2">

                    <div class="portfolio">
                        
                        <div class="border">
                            <div class="porfolio-grid-master">

                                <div class="icon">
                                    <u>Icon Here</u>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <u>Name Here</u>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br> 
                                    <br>



                                </div>

                                <div class="biography">

                                    <u>Biography</u><br>
                                    <p>
                                    I started off, knowing nothing about programming. I grew an intrest for it because of a
                                    project that I saw that used basic HTML, and CSS. I from there went on to 
                                    </p>
                                </div>

                                <div class="pskills">

                                    <u>Skills</u>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </body> 
</html>